# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Raw Zip Archives (Extracted contents are preserved in data/raw)
archive (*).zip

